/**
 * @license
 * MyFonts Webfont Build ID 2848324, 2014-07-18T15:59:33-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: Dual 300 by CDType
 * URL: http://www.myfonts.com/fonts/cdtype/dual/300/
 * 
 * Webfont: Dual 600 by CDType
 * URL: http://www.myfonts.com/fonts/cdtype/dual/600/
 * 
 * 
 * License: http://www.myfonts.com/viewlicense?type=web&buildid=2848324
 * Licensed pageviews: 20,000
 * Webfonts copyright: Copyright (c) 2014 by Charles Daoud. All rights reserved.
 * 
 * © 2014 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/2b7644");

  
@font-face {font-family: 'Dual';
			font-weight: normal;
			src: url('webfonts/2B7644_0_0.eot');
			src: url('webfonts/2B7644_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2B7644_0_0.woff') format('woff'),url('webfonts/2B7644_0_0.ttf') format('truetype');
			}
 
  
@font-face {font-family: 'Dual';
			font-weight: bold;
			src: url('webfonts/2B7644_1_0.eot');
			src: url('webfonts/2B7644_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/2B7644_1_0.woff') format('woff'),url('webfonts/2B7644_1_0.ttf') format('truetype');
			}
 