{% load staticfiles cms_tags %}
<div id="navbar" class="">
	<div class="nav-gutter">
		<div class="nav-expand-button"><img src="{% static 'images/icon-menu.png' %}" /></div>
		<div class="nav-silo-name">{% page_attribute 'title' %}</div>
	</div>
	<div class="nav-main">
		<ul class="nav-links">
			<li><a class="x-silo" href="/">Index</a></li>
			<li><a class="x-silo" href="/work/">Work</a></li>
			<!-- <li><a class="x-silo" href="#">Blog</a></li> -->
			<li><a class="x-silo" href="/process/">Process</a></li>
			<li><a class="x-silo" href="/studio/">Studio</a></li>
			<li><hr /></li>
			<li><a href="#">Shop</a></li>
		</ul>
		<div class="nav-availability nav-container">
			{% static_placeholder "availability" or %}Availability{% endstatic_placeholder %}
		</div>
		<div class="nav-behance nav-container">
			<img src="{% static 'images/icon-behance.png' %}" />
		</div>
	</div>
</div>