{% load i18n %}
<div class="picture-caption">
	<div class="picture">
		{% if link %}<a href="{{ link }}">{% endif %}
			<!-- <div class="picture-wrapper"> -->
				<aside class="caption">{{ object.caption }}</aside>
				<img src="{{ object.image.url }}" alt="{{ object.title }}"/>
			<!-- </div> -->
		{% if link %}</a>{% endif %}
	</div>
<!-- 	{% if object.description %}
	<p>{{ object.description }}</p>
	{% endif %} -->
	{% if link %}<a href="{{ link }}">{% trans "more" %} &#187;</a>{% endif %}
</div>