{% extends "_layout/base.html" %}
{% load cms_tags %}
{% load static %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block main_content %}
	<div class="default page">
		<div class="image-strip parallax">
			{% placeholder "images" %}
		</div>
		<div class="container">
			<div class="aside-content">
				{% placeholder "aside" %}
			</div>
			<div class="main-content">
				{% placeholder "content" %}
			</div>
		</div>
	</div>
{% endblock main_content %}
