{% extends "_layout/base.html" %}
{% load cms_tags %}
{% load static %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block main_content %}
	<div class="fullheight">
		<div class="container">
			<img src="{% static 'images/logo.png' %}" />

			<div class="home-text">
				{% placeholder "content" %}
			</div>

		</div>
		<div class="image-strip">
			{% placeholder "images" %}
		</div>
	</div>
{% endblock main_content %}
