{% load thumbnail cms_tags placeholder_tags %}

<div class="work-project">
	{% thumbnail instance.main_image '420x340' crop='center' as im %}
		<img src="{{ im.url }}" />
	{% endthumbnail %}
	<div class="text">
		<h2 class="name">
			<a href="{{ instance.detail_page.get_slug }}">{{ instance.detail_page.get_title }}</a>
		</h2>
		<p class="roles">
			{% render_placeholder instance.roles %}
		</p>
		<hr class="short-color-bar" style="background: {{ instance.primary_color }}" />
	</div>
</div>