{% extends "_layout/base.html" %}
{% load cms_tags placeholder_tags %}
{% load static thumbnail %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block main_content %}
<div class="work-list page">
	<div class="work-bunnies">
		<img class="bunny" src="{% static 'images/logo-bunny.png' %}" />
		<img class="bunny" src="{% static 'images/logo-bunny.png' %}" />
		<img class="bunny" src="{% static 'images/logo-bunny.png' %}" />
		<img class="bunny" src="{% static 'images/logo-bunny.png' %}" />
		<img class="bunny" src="{% static 'images/logo-bunny.png' %}" />
	</div>
	<div class="work-project-list">
		{% placeholder 'work-projects' %}
	</div>
	<div class="work-foot">
		<div class="page-wrapper">
			<div class="container">
				{% placeholder 'content' %}
			</div>
		</div>
	</div>
</div>
{% endblock main_content %}
