{% extends "_layout/base.html" %}
{% load cms_tags placeholder_tags %}
{% load staticfiles thumbnail %}

{% block title %}{% page_attribute 'title' %}{% endblock title %}

{% block main_content %}
<div class="work-detail page">
	<h1>{{ project.name }}</h1>
	<div class="image-strip">
		{% render_placeholder project.images %}
	</div>
	{% render_placeholder project.content %}
</div>
{% endblock main_content %}
