{% load cms_tags menu_tags sekizai_tags staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0;" />
    <!-- <title>{% block title %}Sterling Lentz Design &amp; Development{% endblock title %}</title> -->
    <title>Sterling Lentz Design &amp; Development</title>
    {% render_block "css" %}
    <style type="text/css">
        .nav {
            padding-left: 0;
        }
        .nav li {
            display: inline;
            list-style-type: none;
            padding-right: 20px;
        }
    </style>
    <link rel="stylesheet" type="text/css" href="/static/build/main.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/Dual_Kit.css">
</head>
<body class="navbar-expanded">{% cms_toolbar %}{% block content %}{% endblock content %}
    <div class="">
        <div class="window-wrapper silo {% page_attribute 'slug' %}">
            <div class="page-wrapper">
                {% block main_content %}{% endblock main_content %}
            </div>
            <div class="navbar-wrapper">
                {% include "_partials/navbar.html" %}
            </div>
        </div>
    </div>

    {% render_block "js" %}
    <script type="text/javascript" src="{% static 'bower/jquery/dist/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bower/lodash/dist/lodash.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/detectmobile.js' %}"></script>
    <script type="text/javascript" src="{% static 'javascripts/main.js' %}"></script>
    {% if settings.USE_LIVERELOAD %}
    <script>document.write('<script src="http://' + (location.host || 'localhost').split(':')[0] + ':35740/livereload.js?snipver=1"></' + 'script>')</script>
    {% endif %}
</body>
</html>


{% comment %} <ul class="nav">
    {% show_menu 0 100 100 100 %}
</ul> {% endcomment %}