@import "compass";

$gray-0: #e9e9e9;
$gray-1: #cdcdcd;

$gray-4: #9b9b9b;
$gray-8: #4c4c4c;

$charcoal: #222;

$blue-1: #213190;
$blue-11: #212d75;

$blue-gray: #7f84b5;

$orange-1: #d89300;

//////////////////

$text-color: $gray-8;
$text-color-light: $gray-4;
$link-color: $orange-1;

$sans-serif-font: Dual;
$serif-font: Palatino;

/////////////////////

$navbar-width: 23.2rem;
$navbar-gutter-width: 5.0rem;
$navbar-main-width: $navbar-width - $navbar-gutter-width;

$aside-width-wide: 28.0rem;
$aside-width: 20.0rem;

$work-image-width: 42.0rem;
$work-image-height: 34.0rem;

$bunny-image-size: 16.0rem;

$bp-mobile: 320px;
$bp-tablet: 768px;
$bp-desktop: 1024px;
$bp-cinema: 1280px;

// * {
// 	-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
// 	-moz-box-sizing: border-box;    /* Firefox, other Gecko */
// 	box-sizing: border-box;         /* Opera/IE 8+ */
// }

html, body {
	margin: 0;
	padding: 0;	
}

html {
	font-size: 10px;
	font-family: $sans-serif-font;
}

body {
	position: absolute;
	width: 100%;
	min-height: 100%;
	background: $gray-1;
	color: $text-color;
}

a:link, a:visited {
	color: $link-color;
	text-decoration: none;
}

.cms_toolbar {
	a:link, a:visited {
		color: inherit;
	}
}

ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

h1, h2, h3, h4 {
	color: $charcoal;
}

h1 {
	color: $blue-1;
	font-size: 3.0rem;
	font-weight: bold;
}

h2 {
	font-weight: normal;
	font-size: 2.4rem;
}

h3 {
	color: $blue-gray;
	font-size: 1.2rem;
	letter-spacing: 0.2rem;
}

hr {
	border-width: 0 0 1px 0;
}

body {
	font-size: 1.4rem;
	min-height: 100%;
	width: 100%;
	overflow-x: hidden;
	// background: $gray-0 url('/static/images/nav-bg.png') repeat-y;
	// -webkit-overflow-scrolling: touch;
	
}

.navbar-wrapper {
	font-size: 100%;
}

#navbar {
	@include clearfix;
	@include transition(width 300ms);
	font-size: 14px;
	position: fixed; // absolute works better on mobile
	top: 0;
	left: 0;
	height: 120%; // fixes the bottom-bar problem on iOS
	color: $gray-1;
	z-index: 11;
	overflow-x: hidden;
	width: $navbar-gutter-width;
}

.silo.work {
	#navbar {
		position: fixed;
	}	
}


.nav-gutter {
	background: $charcoal;
	width: $navbar-gutter-width;
	min-width: 30px;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	text-align: center;
	z-index: 1;
	overflow-x: hidden;  // for browsers not supporting transform
}
.nav-expand-button {
	cursor: pointer;
	margin: 4.0rem auto;
	max-width: 90%;
	img {
		max-width: 100%;
	}
}
.nav-silo-name {
	color: $gray-4;
	@include transform-origin(50% 50%);
	@include transform(translate(-7.4rem, 7.4rem) rotate(-90deg));
	width: 20.0rem;
	text-transform: uppercase;
	text-align: right;
	letter-spacing: 0.2rem;
}
.nav-main {
	@include transition(left 300ms);
	z-index: 0;
	position: absolute;
	top: 0;
	background: $blue-1;
	width: $navbar-main-width;
	left: $navbar-gutter-width - $navbar-main-width;
	height: 100%;
	overflow-x: visible;
}
.navbar-expanded #navbar {
	width: $navbar-width;
	// margin-left: $navbar-gutter-width;
}
.navbar-expanded .nav-main {
	left: $navbar-gutter-width;
	margin-left: 0;
}
.nav-links {
	font-weight: bold;
	margin: 10px auto;
	li {
		padding: 0;
	}
	a {
		color: inherit;
		display: block;
		text-decoration: none;
		padding: 10px 3.0rem;
		&:hover {
			background: $blue-11;
		}
	}
	hr {
		margin: 10px 3.0rem;
	}
}

.fullheight {
	height: 100%;
	// position: absolute;
}

.nav-container {
	margin: 0 3.0rem;
}

.nav-availability {
	margin-top: 15.0rem;
}

.nav-behance {
	position: absolute;
	bottom: 20px;
	left: 0;
}

.window-wrapper {
	position: absolute;
	width: 100%;
	min-height: 100%;
	overflow-x: hidden;
}

.page {
	display: inline;
}

.page-wrapper {
	@include transition(margin-left 300ms, opacity 300ms);
	opacity: 1;
	display: block;
	position: static;
	min-height: 100%;
	margin-left: $navbar-gutter-width;
	overflow-x: visible;
}

.window-wrapper { 
	background-color: $gray-0; 
}

.silo {

}

.silo.work,
.silo.home { 
	background-color: $gray-1;
}

.silo.home {

}


.navbar-expanded {
	.page-wrapper {
		margin-left: $navbar-width;
	}
}

.container {
	max-width: 150.0rem - $navbar-width;
	padding: 2rem 6rem 0 6rem;
}

.home-text {
	margin: 16.0rem 0 19.0rem;
	max-width: 60.0rem;
}

.image-strip {
	white-space: nowrap;
	max-width: 100%;
	overflow-x: scroll;
	overflow-y: hidden;
	-webkit-overflow-scrolling: touch;
	.plugin_picture {
		display: inline-block;
	}
	img { 
		
	}

	&.attach-top {
		top: 0;
		left: 0;
	}

	&.attach-bottom {
		top: inherit;
		bottom: 0;
	}
}

.aside-content {
	width: $aside-width;
	float: left;
	font-size: 1.2rem;
	color: $text-color-light;

	strong { 
		font-size: 1.0rem; 
		color: $text-color;
	}

	// .cms_plugin {
	// 	display: block;
	// 	margin-bottom: 4rem;
	// }
}

.main-content {
	min-width: 50.0rem;
	white-space: normal;
	hr {
		border-bottom: 1px solid $blue-1;
		margin: 4rem 0;
		width: 25%;
		min-width: 18rem;
		max-width: 100%;
	}
	img {
		max-width: 100%;
	}
	p {
		font-family: $serif-font;
		font-size: 1.8rem;
	}
	p, h1, h2, h3, h4 {
		// padding-left: 6rem;
		// padding-right: 6rem;
	}
}

.aside-content + .main-content {
	margin-left: $aside-width;
}

.bottom-content {
	display: block;
	margin-top: 10.0rem;
}

.page.default {
	.image-strip {
		$height: 35.0rem;
		img {
			height: $height;
			width: auto;
		}
		+ .container {
			margin-top: 2rem;
		}
	}
}

.x-silo-change {
	@include transition(opacity 500ms);
	opacity: 0;
}

.work-bunnies {
	position: relative;
	.bunny {
		pointer-events: none;
		opacity: 0.08;
		position: absolute;
		display: none;

		&:nth-child(1) {
			display: block;
			top: $work-image-height/2 - $bunny-image-size/2;
			left: $work-image-width*2 - $bunny-image-size/2;
		}
		&:nth-child(2) {
			display: block;
			top: $work-image-height*2.5;
			left: $work-image-width/2 - $bunny-image-size/2;
		}
	}
}

.work-project-list {
	position: relative;
}

.work-foot {
	position: absolute;
	top: 100%;
	left: 0;
	height: 100%;
	width: 100%;
	// background: url('/static/images/logo-bunny.png') no-repeat center;
	// background-size: cover;
	background: $gray-0;

	.page-wrapper {
		min-height: none;
		text-align: center;

		.container {
			margin: auto;
			text-align: left;
			width: 75%;
		}
	}
}

.work-project {
	background: $gray-0;
	display: block;
	width: $work-image-width;

	img {
		width: 100%;
		height: auto;
		// height: $work-image-height;
	}
	.name a {
		color: black;
		text-decoration: none;
	}
	.text {
		padding: 2.5rem 4.0rem;
	}
	.short-color-bar {
		width: 10rem;
		height: 3px;
		margin: 0;
		border: 0;
		text-align: left;
	}
	&:nth-child(even) {
		margin-left: $work-image-width;
		// left: $work-image-width;
	}
	&:nth-child(-n+2) {
		// margin-top: 0;
	}
}

.aside-content {
	.column {
		width: 100% !important;
		float: none !important;
		margin-bottom: 4.0rem;
	}
}

.picture-caption {
	margin: 6.0rem auto;

	.caption {
		color: $text-color-light;
		margin: 0 auto 1rem;
	}

	.picture {
		margin-right: -6rem;
		position: relative;
		display: block;
	}

	img {
		max-width: 100%;
		width: 100%;
	}
}

/////////////////////////////////////


@media screen and (min-width: $bp-tablet) {

	.picture-caption {
		text-align: center;
		position: relative;
		.caption {
			text-align: right;
			width: 16.0rem;
			position: absolute;
			left: -16.0rem - 3rem;
			top: 0;
		}
		.picture {
			margin-left: -6rem;
			margin-right: -6rem;
		}
		img {
			// float: right;
			max-width: none;
		}
	}

}

@media screen and (min-width: $bp-desktop) {

	.aside-content {
		width: $aside-width-wide;
	}

	.aside-content + .main-content {
		margin-left: $aside-width-wide;
	}

	.work-project {
		width: $work-image-width * 1.0;
		&:nth-child(even) {
			margin-left: $work-image-width * 1.0;
			// left: $work-image-width;
		}
	}

	.picture-caption {
		.caption {
			left: -16.0rem - 6rem;
			top: 0;
		}
	}

}

@media screen and (min-width: $bp-cinema) {

	.work-project {
		width: $work-image-width * 1.25;
		&:nth-child(even) {
			margin-left: $work-image-width * 1.25;
			// left: $work-image-width;
		}
	}
}

////////////////////////////////////

@media screen and (max-width: $bp-tablet) {

	html { font-size: 8px; }
	
	.work-project {
		position: static;
		left: auto;
		top: auto;
	}

	.aside-content {
		width: auto;
		float: none;
		clear: both;

		.column {
			margin-bottom: 0rem;
			p {
				display: inline-block;
				vertical-align: middle;
				&:first-child {
					min-width: 12.0rem;
				}
				&:nth-child(2) {
					min-width: 16.0rem;
				}
			}
		}
	}
	.main-content {
		float: none;
		clear: both;
		min-width: $bp-mobile - 40px - 50px;
	}
	.aside-content + .main-content {
		margin-left: 0;
	}

}

@media screen and (max-width: $bp-mobile) {

	html { font-size: 6px; }

	.work-project {
		position: static !important;
		left: auto;
		top: auto !important;
		margin: 3.0rem 0 !important;
	}

	.window-wrapper {
		overflow-x: scroll;
	}

}


#cms_toolbar .cms_sideframe .cms_sideframe-btn {
	top: 150px;
}


#cms_toolbar .cms_clipboard {
	top: 230px;
}
